
#increaseTirednessButton,
#decreaseTirednessButton,
#increaseHungerButton,
#decreaseHungerButton,
#increaseLonelinessButton,
#decreaseLonelinessButton,
#increaseHappinessButton,
#decreaseHappinessButton {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#increaseTirednessButton:hover,
#increaseTirednessButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#increaseTirednessButton:active {
  background: var(--color);
  color: #fff;
}



#decreaseTirednessButton:hover,
#decreaseTirednessButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#decreaseTirednessButton:active {
  background: var(--color);
  color: #fff;
}






#increaseHungerButton:hover,
#increaseHungerButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#increaseHungerButton:active {
  background: var(--color);
  color: #fff;
}


#decreaseHungerButton:hover,
#decreaseHungerButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#decreaseHungerButton:active {
  background: var(--color);
  color: #fff;
}



#increaseLonelinessButton:hover,
#increaseLonelinessButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#increaseLonelinessButton:active {
  background: var(--color);
  color: #fff;
}


#decreaseLonelinessButton:hover,
#decreaseLonelinessButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#decreaseLonelinessButton:active {
  background: var(--color);
  color: #fff;
}



#increaseHappinessButton:hover,
#increaseHappinessButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#increaseHappinessButton:active {
  background: var(--color);
  color: #fff;
}

#decreaseHappinessButton:hover,
#decreaseHappinessButton:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

#decreaseHappinessButton:active {
  background: var(--color);
  color: #fff;
}




#emotionImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;

}

#tiredImage,
#energiticImage,
#hungerImage,
#feedImage,
#happinessImage,
#sadImage,
#lonelinessImage,
#notLonlyImage {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, border-color 0.3s;
}




#tiredImage:hover,
#energiticImage:hover,
#hungerImage:hover,
#feedImage:hover,
#happinessImage:hover,
#sadImage:hover,
#lonelinessImage:hover,
#notLonlyImage:hover {
  transform: scale(1.05);
  border-color: #3498db;
}


body{
  background-image: url(https://media0.giphy.com/media/GeimqsH0TLDt4tScGw/200w.webp?cid=ecf05e47yy3rwew9j816vrruw73b6y08jrhzfrkupeu90w0m&ep=v1_gifs_related&rid=200w.webp&ct=g);
background-repeat:no-repeat ;
background-size: cover;

}





